@model List<ResultFactDto>

<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="@item.Icon"></i>
                            <h4>@item.Title</h4>
                            <h1>@item.Description</h1>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>