@model List<ResultBasketItemViewModel>

@{
    ViewData["Title"] = "BasketItemListByStatus";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7046/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("GetBasketItemStatus");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveBasketItemStatus", (value) => {
                    var color = "";
                    var status = "";
                    console.log(value);
                    let basketitemhtml = `<div class="row">`;
                    $.each(value, (index, item) => {
                        if (item.status == true) {
                            color = "card card-stats card-success";
                            status = "BasketItem İşlemde";
                        }
                        else {
                            color = "card card-stats card-danger";
                            status = "BasketItem Kapatıldı";
                        }
                        basketitemhtml += `<div class="col-md-3">
                                                        <div class="${color}">
                                                            <div class="card-body ">
                                                                <div class="row">
                                                                    <div class="col-5">
                                                                        <div class="icon-big text-center">
                                                                            <i class="la la-certificate"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-7 d-flex align-items-center">
                                                                        <div class="numbers">
                                                                            <p class="card-SubCategory">${item.basketItemCustomerMail}</p>
                                                                            <h4 class="card-title">${status}</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`
                    });
                    basketitemhtml += "</div>";
                    $("#statuslist").html(basketitemhtml);
                });
            });
        </script>

        <h4 class="page-title">Anlık BasketItem Durumları Sayfası</h4>       
            <div id="statuslist"></div>       
    </div>
</div>