@model CreateAboutViewModel

@{
    ViewData["Title"] = "CreateAbout";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="form-group">
                            <label for="Description">Açıklamayı Giriniz</label>
                            <div id="editor" style="height: 400px;"></div>
                            <input type="hidden" id="Description" name="Description" asp-for="Description">
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary btn-round">Hakkımda Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }],
                [{ list: 'ordered' }, { list: 'bullet' }],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                ['clean']
            ],
        },
    });

    var initialContent = @Html.Raw(Json.Serialize(Model.Description));
    quill.root.innerHTML = initialContent;

    quill.on('text-change', function () {
        document.getElementById('Description').value = quill.root.innerHTML;
    });
</script>