@model CreateBannerDto

@{
    ViewData["Title"] = "CreateBanner";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Banner İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Banner Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="SubTitle">Alt Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="SubTitle" id="SubTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Url" id="Url">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="UrlLabel">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="UrlLabel" id="UrlLabel">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Açıklama Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Price1">Icon Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Price1" id="Price1"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Price2">Icon Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Price2" id="Price2"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary btn-round">Banner Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>