@model UpdateProductDto

@{
    ViewData["Title"] = "UpdateProduct";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ürün Güncelleme Sayfası</div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Ürün Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for=ProductName id="productname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Fiyatını Giriniz</label>
                                <input type="text" class="form-control" asp-for=Price id="price">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="imageurl">Ürün Görselini Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x => x.SubCategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Ürün Açıklamasını Giriniz</label>
                                <input type="text" class="form-control" asp-for=Description id="description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ProductTitle">Ürün Başlığını Giriniz</label>
                                <input type="text" class="form-control" asp-for="ProductTitle" id="ProductTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Weight">Ürün Ağırlığını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Weight" id="Weight">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="CountryOfOrigin">Ürün Origini Giriniz</label>
                                <input type="text" class="form-control" asp-for="CountryOfOrigin" id="CountryOfOrigin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Quality">Ürün Quality Giriniz</label>
                                <input type="text" class="form-control" asp-for="Quality" id="Quality">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Сheck">Ürün Сheck Giriniz</label>
                                <input type="text" class="form-control" asp-for="Сheck" id="Сheck">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Сheck">Ürün MinWeight Giriniz</label>
                                <input type="text" class="form-control" asp-for="MinWeight" id="MinWeight">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary btn-round">Ürünü Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
