@model UserRegisterDto

@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "_AuthLayout";
}

<div class="login-box" style="top:33%; margin-top:80px; width:28%">
    <h2 style="font-family:'Lucida Fax'">Kayıt Formu</h2>
    <form method="post" asp-controller="Auth" asp-action="Register">
        <div class="d-flex">
            <div class="user-box me-4">
                <input asp-for=FirstName type="text" required>
                <label class="required" asp-for="FirstName"></label>
            </div>
            <div class="user-box">
                <input asp-for="LastName" type="text" required>
                <label class="required" asp-for="LastName"></label>
            </div>
        </div>
        <div class="d-flex">
            <div class="user-box me-4">
                <input asp-for=UserName type="text" required>
                <label class="required" asp-for="UserName"></label>
            </div>
            <div class="user-box">
                <input asp-for="Email" type="email" required>
                <label class="required" asp-for="Email"></label>
            </div>
        </div>
        <div class="d-flex">
            <div class="user-box me-4">
                <input asp-for="Password" type="password" required>
                <label class="required" asp-for="Password"></label>
            </div>

            <div class="user-box ">
                <input asp-for="ConfirmPassword" type="password" required>
                <label class="required" asp-for="ConfirmPassword"></label>
            </div>

        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly" value="">
        </div>

        <div class="row">

            <div class="col-4">
                <a style="font-family:'Lucida Fax'" type="submit" class="float-end" asp-action="Login" asp-controller="Auth"><center>Giriş Yap</center></a>
            </div>
            <div class="col-4">
                <button style="font-family:'Lucida Fax'" class="float-end" asp-action="Register" asp-controller="Auth"><center>Kayıt Ol</center></button>
            </div>
            <div class="col-4">
                <a style="font-family:'Lucida Fax'" class="float-end" asp-action="Index" asp-controller="Default"><center>Ana Sayfa</center></a>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    <script>
        // https://codeseven.github.io/toastr/demo.html

        $(document).ready(function () {

            toastr.options = {
                'closeButton': false,
                'debug': false,
                'newestOnTop': true,
                'progressBar': false,
                'positionClass': 'toast-top-center',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }

        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage?.ToString()))
        {
            @:toastr.options.closeHtml = '<button class="closebtn"><i class="bi bi-x"></i></button>';
            @:toastr.error("@ViewBag.ErrorMessage?.ToString()", "Bildirim:");
        }
           });
    </script>
}