@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum!";
    Layout = "_AuthLayout";
}

<div class="login-box text-white" style="top:33%; margin-top:80px; width:32%">
    <h2 style="font-family:'Lucida Fax'">Şifre Sıfırlama</h2>
    <p>Lütfen şifrenizi sıfırlamak için e-posta adresinizi giriniz</p>
    <br />
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            Lütfen hataları düzeltin ve tekrar deneyin.
        </div>
    }

   
    <br />

    <form method="post">

        <div class="user-box">
            <placeholder class="required" for="password">Yeni Şifreniz</placeholder>
            <input type="password" id="password" name="Password" required>
        </div>

        <div class="user-box">
            <placeholder class="required" for="confirmPassword">Yeni Şifrenizi Doğrulayın</placeholder>
            <input type="password" id="confirmPassword" name="ConfirmPassword" required>
        </div>

        <div class="row">
            <div class="col-4">
                <a style="font-family:'Lucida Fax'" type="submit" class="float-end" asp-action="Register" asp-controller="Auth"><center>Kayıt Ol</center></a>
            </div>
            <div class="col-4">
                <button style="font-family:'Lucida Fax'" class="float-end"><center>Şifreyi Sıfırla</center></button>
            </div>
            <div class="col-4">
                <a style="font-family:'Lucida Fax'" class="float-end" asp-action="Index" asp-controller="Default"><center>Ana Sayfa</center></a>
            </div>
        </div>
    </form>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            Lütfen hataları düzeltin ve tekrar deneyin.
        </div>
    }
</div>

@section Scripts {
    <script>
        // https://codeseven.github.io/toastr/demo.html

        $(document).ready(function () {

            toastr.options = {
                'closeButton': false,
                'debug': false,
                'newestOnTop': true,
                'progressBar': false,
                'positionClass': 'toast-top-center',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }

        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage?.ToString()))
        {
            @:toastr.options.closeHtml = '<button class="closebtn"><i class="bi bi-x"></i></button>';
            @:toastr.error("@ViewBag.ErrorMessage?.ToString()", "Bildirim:");
        }
                    });
    </script>
}