@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7046/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendProgress");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveTotalMoneyCaseAmount", (value) => {
                    $("#totalmoneycaseamount").text(value);
                });

                connection.on("ReceiveActiveOrderCount", (value2) => {
                    $("#activeordercount").text(value2);
                });

                connection.on("ReceiveBasketItemCount", (value3) => {
                    $("#basketItemCount").text(value3);
                });

                connection.on("ReceiveBasketItemCount", (value4) => {
                    $("#totalBasketItemCountProgress").empty();
                    $("#totalBasketItemCountProgress").append(`

                    // <div class="d-flex justify-content-between mb-1">
                    //     <span class="text-muted">Toplam BasketItem Sayısı</span>
                    //     <span class="text-muted fw-bold">${value4}</span>
                    // </div>
                    <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: ${value4}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value4}%"></div>
                    </div>

                    `);
                });

                connection.on("ReceiveProductPriceAvg", (value5) => {
                    $("#ReceiveProductPriceAvgProgress").empty();
                    $("#ReceiveProductPriceAvgProgress").append(`

                    <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Ortalama Ürün Fiyatı</span>
                        <span class="text-muted fw-bold">${value5}</span>
                    </div>
                    <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: ${value5}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value5}%"></div>
                    </div>

                      `);
                });

                connection.on("ReceiveAvgPriceByApple", (value6) => {
                    $("#ReceiveAvgPriceByAppleProgress").empty();
                    $("#ReceiveAvgPriceByAppleProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                        <span class="text-muted">Ortalama  Fiyatı</span>
                        <span class="text-muted fw-bold">${value6}</span>
                     </div>
                        <div class="progress mb-2" style="height: 7px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: ${value6}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value6}%"></div>
                     </div>

                        `);
                });

                connection.on("ReceiveProductCountBySubCategoryNameTomato", (value7) => {
                    $("#ReceiveProductCountBySubCategoryNameTomatoProgress").empty();
                    $("#ReceiveProductCountBySubCategoryNameTomatoProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                           <span class="text-muted">Tomato Kategori Sayısı</span>
                           <span class="text-muted fw-bold">${value7}</span>
                     </div>
                           <div class="progress mb-2" style="height: 7px;">
                           <div class="progress-bar bg-warning" role="progressbar" style="width: ${value7}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value7}%"></div>
                     </div>

                       `);
                });

                connection.on("ReceiveTotalOrderCount", (value8) => {
                    $("#ReceiveTotalOrderCountProgress").empty();
                    $("#ReceiveTotalOrderCountProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                          <span class="text-muted">Toplam Sipariş Sayısı</span>
                          <span class="text-muted fw-bold">${value8}</span>
                     </div>
                          <div class="progress mb-2" style="height: 7px;">
                          <div class="progress-bar bg-dark" role="progressbar" style="width: ${value8}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value8}%"></div>
                     </div>

                       `);
                });

                connection.on("ReceiveProductPriceByNativeOranges", (value9) => {
                    $("#ReceiveProductPriceByNativeOrangesProgress").empty();
                    $("#ReceiveProductPriceByNativeOrangesProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                         <span class="text-muted">Native Oranges Fiyatı</span>
                         <span class="text-muted fw-bold">${value9}</span>
                     </div>
                     <div class="progress mb-2" style="height: 7px;">
                     <div class="progress-bar bg-danger" role="progressbar" style="width: ${value9}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value9}%"></div>
                     </div>

                       `);
                });

                connection.on("ReceiveTotalPriceByTomatoSubCategory", (value10) => {
                    $("#ReceiveTotalPriceByTomatoSubCategoryProgress").empty();
                    $("#ReceiveTotalPriceByTomatoSubCategoryProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                          <span class="text-muted">Toplam Tomato Fiyatı</span>
                          <span class="text-muted fw-bold">${value10}</span>
                     </div>
                    <div class="progress mb-2" style="height: 7px;">
                          <div class="progress-bar bg-secondary" role="progressbar" style="width: ${value10}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value10}%"></div>
                     </div>

                       `);
                });

                connection.on("ReceiveTotalPriceByStrawberrySubCategory", (value11) => {
                    $("#ReceiveTotalPriceByStrawberrySubCategoryProgress").empty();
                    $("#ReceiveTotalPriceByStrawberrySubCategoryProgress").append(`

                     <div class="d-flex justify-content-between mb-1">
                          <span class="text-muted">Toplam Çilek Fiyatı</span>
                          <span class="text-muted fw-bold">${value11}</span>
                     </div>
                     <div class="progress mb-2" style="height: 7px;">
                     <div class="progress-bar bg-warning" role="progressbar" style="width: ${value11}%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value11}%"></div>
                     </div>

                       `);
                });

            });
        </script>


        <h4 class="page-title"><center>İstatistikler & Durumlar</center></h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row row-card-no-pd">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="card card-stats card-warning">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-users"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Visitors</p>
                                                        <h4 class="card-title">325</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-stats card-danger">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-newspaper-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Subscribers</p>
                                                        <h4 class="card-title">12</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                            <hr />
                            <div class="card-body">
                                <p class="fw-bold mt-1"><center><b>Günlük Satış Tutarı</b></center></p>
                                <h4 id=""><center>1234 TL</center><b></b></h4>
                            </div>
                            <hr />
                            <div class="card-body">
                                <p class="fw-bold mt-1"><center><b>Aylık Satış Tutarı</center></b></p>
                                <h4 id=""><center>1234 TL</center><b></b></h4>
                            </div>
                            <hr />
                            <div class="card-body">
                                <p class="fw-bold mt-1"><center><b>Kasadaki Toplam Tutar</center></b></p>
                                <h4 id=""><center>1234 TL</center><b></b></h4>
                            </div>
                            <div class="card-footer">
                                <ul class="nav">
                                    <li class="nav-item"><a class="btn btn-default btn-link" href="/Admin/Order/Index/"><i class="la la-history"></i> Siparişler</a></li>
                                    <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="/Admin/ProgressBars/Index/"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                @* <div class="progress-card" id="totalBasketItemCountProgress"></div> *@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card card-stats card-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="icon-big text-center">
                                                            <i class="la la-bar-chart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 d-flex align-items-center">
                                                        <div class="numbers">
                                                            <p class="card-category">Sales</p>
                                                            <h4 class="card-title">1234 TL</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card card-stats card-primary">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="icon-big text-center">
                                                            <i class="la la-check-circle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-7 d-flex align-items-center">
                                                        <div class="numbers">
                                                            <p class="card-category">Order</p>
                                                            <h4 class="card-title">2</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <br />
                                <hr />
                                <div class="progress-card" id="ReceiveProductPriceAvgProgress"></div>
                                
                                <div class="progress-card" id="ReceiveAvgPriceByAppleProgress"></div>

                                <div class="progress-card" id="ReceiveProductCountBySubCategoryNameTomatoProgress"></div>

                                <div class="progress-card" id="ReceiveTotalOrderCountProgress"></div>

                                <div class="progress-card" id="ReceiveProductPriceByNativeOrangesProgress"></div>

                                <div class="progress-card" id="ReceiveTotalPriceByTomatoSubCategoryProgress"></div>

                                <div class="progress-card" id="ReceiveTotalPriceByStrawberrySubCategoryProgress"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-pie-chart text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">Aktif Siparişler</p>
                                            <h4 class="card-title" id="activeordercount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-angle-double-up text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">Kategori Sayısı</p>
                                            <h4 class="card-title" id="">2</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-angle-up text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">Alt Kategori Sayısı</p>
                                            <h4 class="card-title" id="">12</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-bar-chart text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">Ürün Sayısı</p>
                                            <h4 class="card-title" id="">12</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-user-plus text-dark"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">User Sayısı</p>
                                            <h4 class="card-title" id="">4</h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-twitch text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-SubCategory">Gelen Mesajlar</p>
                                            <h4 class="card-title" id="">1</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>