<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>



    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="food_section layout_padding">
        <div class="container">

            <script type="text/javascript">

                $(document).ready(() => {

                    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7046/SignalRHub").build();
                    $("#connstatus").text(connection.state);
                    connection.start().then(() => {
                        $("#connstatus").text(connection.state);
                    }).catch((err) => { console.log(err) });

                    connection.on("ReceiveClientCount", (clientCount) => {
                        $("#clientCountValue").text(clientCount);
                    });
                });
            </script>

            <h4 class="page-title">Anlık Kişi Sayısı: <strong id="clientCountValue"></strong></h4>

        </div>
    </section>





