@model List<ResultMessageDto>

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">

            $(document).ready(() => {

                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7046/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("GetMessageList");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveMessageList", (value) => {
                    console.log(value);
                    let tablehtml = `<table class=table mt-3><thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Ad Soyad</th>
                                                <th scope="col">Mail</th>
                                                <th scope="col">Konu</th>
                                                <th scope="col">Mesaj İçeriği</th>
                                                <th scope="col">Durum</th>
                                                <th scope="col">Mesaj Detayı</th>
                                                <th scope="col">Sil</th>
                                                <th scope="col">Mesajı Oku</th>
                                                <th scope="col">Mesajı Kapat</th>
                                                </tr>
                                                </thead>
                                                <tbody>`
                    $.each(value, (index, item) => {
                        let shortenednameSurname = item.nameSurname.length > 15 ? item.nameSurname.substring(0, 15) + "..." : item.nameSurname;
                        let shortenedmail = item.mail.length > 10 ? item.mail.substring(0, 10) + "..." : item.mail;
                        let shortenedsubject = item.subject.length > 15 ? item.subject.substring(0, 15) + "..." : item.subject;
                        let shortenedMessageContent = item.messageContent.length > 10 ? item.messageContent.substring(0, 10) + "..." : item.messageContent;
                        tablehtml += `<tr>
                                        <th>${index + 1}</th>
                                        <td>${shortenednameSurname}</td>
                                        <td>${shortenedmail}</td>
                                        <td>${shortenedsubject}</td>
                                        <td>${shortenedMessageContent}</td>
                                        <td>${item.description}</td>
                                        <td><a href="/Admin/Message/Detail/${item.id}" class="btn btn-outline-primary btn-round" >Detay</a></td>
                                        <td><a href="/Admin/Message/DeleteMessage/${item.id}" class="btn btn-outline-danger btn-round" >Sil</a></td>
                                        <td><a href="/Admin/Message/MessageStatusApproved/${item.id}" class="btn btn-outline-info btn-round" >Mesajı Oku</a></td>
                                         <td><a href="/Admin/Message/MessageStatusCancelled/${item.id}" class="btn btn-outline-dark btn-round" >Mesajı Kapat</a></td>
                                        </tr>`
                    });
                    tablehtml += "</tbody></table>";
                    $("#MessageList").html(tablehtml);
                });
            });
        </script>

        <h4 class="page-title">Mesaj İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Mesaj ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <div id="MessageList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

