@model List<ResultSocialMediaDto>

<div class="col-lg-3">
    <div class="d-flex justify-content-end pt-3">
        @foreach (var item in Model)
        {
            <a class="@item.Cls" href="@item.Url">
                <i class="@item.Icon"></i>
            </a>
        }
    </div>
</div>