<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
                <img src="~/webt/img/banner-fruits.jpg" />
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Web Site Ayarları
						<span class="user-level">Siteyi Değiştirin!</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>
				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Shop/Index/">
								<span class="link-collapse">Mağazaya Git!</span>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Slider/Index/">
								<i class="la la-gamepad"></i>
								<p>Slider</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Contact/Index/">
								<i class="la la-phone-square"></i>
								<p>İletişim</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/About/Index/">
								<i class="la la-font"></i>
								<p>Hakkımızda</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Fact/Index">
								<i class="la la-group"></i>
								<p>Facts</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Featur/Index">
								<i class="la la-group"></i>
								<p>Featurs</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/SocialMedia/Index/">
								<i class="la la-map-marker"></i>
								<p>Sosyal Medya</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Notification/Index/">
								<i class="la la-umbrella"></i>
								<p>Bildirimler</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Banner/Index/">
								<i class="la la-group"></i>
								<p>Ana Sayfa - Banner</p>
							</a>
						</li>
						<li class="nav-item active">
							<a href="/Admin/Testimonial/Index/">
								<i class="la la-group"></i>
								<p>Referanslar</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Default/Index/">
					<i class="la la-motorcycle"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Message/Index/">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Gelen Mesajlar</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Statistic/Index/">
					<i class="la la-pie-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			
			<li class="nav-item active">
				<a href="/Admin/ProgressBars/Index/">
					<i class="la la-bar-chart"></i>
					<p>Anlık Durum Bilgileri</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Mail/Index/">
					<i class="la la-anchor"></i>
					<p>Mail Gönder</p>
				</a>
			</li>

			<li class="nav-item active">
				<a href="/Admin/Product/Index/">
					<i class="la la-birthday-cake"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Category/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Kategori</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/SubCategory/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Alt Kategori</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/User/Index/">
					<i class="la la-music"></i>
					<p>User İşlemleri</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Role/Index/">
					<i class="la la-music"></i>
					<p>Rol İşlemleri</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Message/Messenger/">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Anlık Messenger</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/QRCode/Index/">
					<i class="la la-qrcode"></i>
					<p>QR Kod Oluştur</p>
				</a>
			</li>
			<li class="nav-item active">
				@* <a href="/Admin/Order/Index/"> *@
				<a href="#">
					<i class="la la-birthday-cake"></i>
					<p>Sipariş İşlemleri</p>
				</a>
			</li>
			<li class="nav-item active">
				@* <a href="/Admin/OrderDetail/Index/"> *@
				<a href="#">
					<i class="la la-birthday-cake"></i>
					<p>Sipariş Fatura İşlemleri</p>
				</a>
			</li>

			<li class="nav-item active">
				@* <a href="/Admin/ShopTable/Index/"> *@
				<a href="#">
					<i class="la la-optin-monster"></i>
					<p>ShopTables</p>
				</a>
			</li>
			<li class="nav-item active">
				@* <a href="/Admin/ShopTable/TableListByStatus/"> *@
				<a href="#">
					<i class="la la-ship"></i>
					<p>ShopTable Durumları</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Slider/Index/">
					<i class="la la-gamepad"></i>
					<p>Slider</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Contact/Index/">
					<i class="la la-phone-square"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/About/Index/">
					<i class="la la-font"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Fact/Index">
					<i class="la la-group"></i>
					<p>Facts</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Featur/Index">
					<i class="la la-group"></i>
					<p>Featurs</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/SocialMedia/Index/">
					<i class="la la-map-marker"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Notification/Index/">
					<i class="la la-umbrella"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Banner/Index/">
					<i class="la la-group"></i>
					<p>Ana Sayfa - Banner</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Testimonial/Index/">
					<i class="la la-group"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Admin/Login/LogOut/">
					<i class="la la-plane"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Login/LogOut/">
					<i class="la la-plane"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>