@model CreateContactViewModel

@{
    ViewData["Title"] = "CreateContact";
}

<th scope="col"></th>
<th scope="col"></th>
<th scope="col"></th>
<th scope="col"></th>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Footer Title</label>
                                <input type="text" class="form-control" asp-for="FooterTitle" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Footer Description</label>
                                <input type="text" class="form-control" asp-for="FooterDescription" id="Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Site Name</label>
                                <input type="text" class="form-control" asp-for="SiteName" id="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Site Title</label>
                                <input type="text" class="form-control" asp-for="SiteTitle" id="title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="url">Site Url</label>
                                <input type="text" class="form-control" asp-for="SiteUrl" id="url">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Location">Location</label>
                                <input type="text" class="form-control" asp-for="Location" id="Location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone">
                            </div>
                        </div>                      
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">GoogleMapsApi</label>
                                <input type="text" class="form-control" asp-for="GoogleMapsApi" id="GoogleMapsApi">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary btn-round">İletişim Bilgi Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>