<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Fruitables</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/MyAccount/production/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Hoş Geldiniz</span>
                <h2>@Context.User.Identity.Name</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Menüler</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="/Basket/Index/"> <i class="fa fa-clone"> </i> Sepete Git </a>
                    </li>
                    <li>
                        <a href="/Default/Index/"><i class="fa fa-home"></i> Siteye Git </a>
                    </li>
                    <li>
                        <a href="/Shop/Index/"><i class="fa fa-home"></i> Mağazaya Git </a>
                    </li>
                    
                    <li>
                        <a href="/Default/Messenger/"><i class="fa fa-clone"></i> Anlık Messenger </a>
                    </li>
                    <li>
                        <a href="/Default/Contact/"><i class="fa fa-clone"></i> Bize Ulaşın </a>
                    </li>
                    <li>
                        <a href="/MyAccount/Detail/"><i class="fa fa-edit"></i> Hesap Bilgileri </a>
                    </li>
                    <li>
                        <a href="/MyAccount/Update/"><i class="fa fa-clone"></i> Bilgileri Düzenle </a>
                    </li>
                    <li>
                        <a href="/Auth/ForgotPassword/"><i class="fa fa-table"></i> Şifre Değiştir </a>
                    </li>
                    <li>
                        <a href="/Auth/ChangeMail/"><i class="fa fa-clone"></i> E-Mail Değiştir </a>
                    </li>
                    <li>
                        <a href="/Shop/Order/"><i class="fa fa-clone"></i> Siparişler </a>
                    </li>
                    <li>
                        <a href="/Shop/OrderDetail/"><i class="fa fa-clone"></i> Fatura Bilgileri </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Auth/LogOut/">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>