@model List<ResultProductWithSubCategory>

<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Fresh Organic Vegetables</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var item in Model)
            {
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="@item.ImageUrl" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.CategoryName</div>
                    <div class="p-4 rounded-bottom">
                        <h4>@item.ProductName</h4>
                        <p>@item.Description</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">$@item.Price / kg</p>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@* <div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-1.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Parsely</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-3.png" class="img-fluid w-100 rounded-top bg-light" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Banana</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-4.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Bell Papper</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Potatoes</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Parsely</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Potatoes</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div>
<div class="border border-primary rounded position-relative vesitable-item">
    <div class="vesitable-img">
        <img src="~/WebT/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
    </div>
    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
    <div class="p-4 rounded-bottom">
        <h4>Parsely</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
        <div class="d-flex justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>
            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
        </div>
    </div>
</div> *@