@model UpdateSliderDto

@{
    ViewData["Title"] = "UpdateSlider";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Slider İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Slider Bilgisi Güncelleme</div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklama Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Label">Etiket 1 Giriniz</label>
                                <input type="text" class="form-control" asp-for="Label1" id="Label">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Resim 1 Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl1" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">Link 1 Giriniz</label>
                                <input type="text" class="form-control" asp-for="Url1" id="Url">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Label">Etiket 2 Giriniz</label>
                                <input type="text" class="form-control" asp-for="Label2" id="Label">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Resim 2 Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl2" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">Link 2 Giriniz</label>
                                <input type="text" class="form-control" asp-for="Url2" id="Url">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary btn-round">Slider Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
